<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale = 1.0, shrink-to-fit=no" />
    <script type="text/javascript" src="{{ site.baseurl }}/assets/script.js"></script>
  </head>
  <body>
    <button type="button" class="btn btn-primary">Primary</button>
    
    <div><a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a></div>
    {{ content }}
    
  </body>
</html>
